html{
    font-size: 100%;
    margin: 0;
    padding: 0;
}

noscript{    
    width: 100%;
    color: whitesmoke;
    text-align: center;
    display: block;
}

body{
    user-select: none;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    /* background-color: #231f20; */
    background-color: #231f20d4;
    /*
    width: 100%;
    height: 100%;
    */
    font-family: 'Nunito', sans-serif;
}

#root{
    width: 100%;
}

#app{
    text-align: center;
    border-radius: 10px;
    background-color: whitesmoke;
    /* min-height: 8em; */
    width: 15em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1em;
    box-shadow: 0px 6px darkgrey, 0px 11px 18px 5px #00000059;
    padding-bottom: 4em;
    height: 0;
    transition: height 0.2s ease;
}

#app:after {
	bottom: 98%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(213, 213, 213, 0);
	border-bottom-color: whitesmoke;
	border-width: 0.8em;
	margin-left: -0.8em;
}

    #app svg{
        height: 1em;
        fill: darkgray;
        position: absolute;
        top: 50%;
        transform: translate(-50%,-50%);
        left: 50%;
    }

#menu{
    margin-left: 0.2em;
    color: gray;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0.2em;
    text-shadow: 0 1px black;
}

    #menu .menu_item{
        padding: 0.3em 0.4em;
        display: inline-block;
        cursor: pointer;
    }

    #menu .menu_item:hover{
        color:lightgray;
    }

    #menu .menu_selected{
        color:lightgray;
    }

#greetings{
    color: dimgray;
    font-size: 1.5em;
    font-family: 'Oleo Script',cursive;
}

#subButton{
    text-align: center;
    position: absolute;
    bottom: 0.5em;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    border-radius: 0.2em;
    height: 3em;
    line-height: 3em;
    color: white;
    cursor: pointer;
    text-shadow: 0px 1px #00000057;
    /* transition: background-color 0.5s ease; */
}
    .subButton{
        background-color: #fa7c91;
    }
    .subButton:hover{
        box-shadow: inset 1px -1px 18px 0px deeppink;
    }
    .unsubButton{
        background-color: gray;
    }
    .unsubButton:hover{
        box-shadow: inset 1px -1px 18px 0px deeppink;
    }
    .ripple {
        background-position: center;
        transition: background 0.8s, box-shadow 0.3s ease-in-out;
    }
    .ripple:hover {
        background: #fa7c91 radial-gradient(circle, transparent 1%, #fa7c91 1%) center/15000%;
    }
    .ripple:active {
        background-color: #ff94a6;
        background-size: 100%;
        transition: background 0s;
    }
    .loading{
        width: 2.5em;
        display: none;
        pointer-events: none;
    }
    .button_text{
        pointer-events: none;
    }
    .button-disabled{
        pointer-events: none;
        color: #ffbbbb!important;
    }

#purr_container{
    top: -5.8em;
    position: absolute;
    left: 25%;
    transform: translateX(-50%);
}
    #count{
        top: 0!important;
    }

    #purr_container #count{
        top: -0.3em;
        position: absolute;
        width: 1.8em;
        height: 1.8em;
        background-color: crimson;
        text-align: center;
        line-height: 1.8em;
        border-radius: 50%;
        font-weight: bold;
        color: wheat;
        right: 0;
    }

    #catName{
        top: 0.5em;
        position: absolute;
        right: -5.3em;
        color: antiquewhite;
    }
    #catQuote{
        line-height: 1.3em;
        position: absolute;
        right: -14em;
        color: lightcoral;
        top: 2.3em;
        width: 13em;
        font-size: 0.8em;
        text-align: left;
    }

    #purr{
        background-color: white;
        border-radius: 50%;
        overflow: hidden;
        height: 5em;
        width: 5em;
        /* box-shadow: 0px 0px 0 4px darkgray; */
    }
        #purr img{
            width: 4.1em;
            /* object-fit: none; */
            /* object-position: center; */
            height: 4em;
            position: relative;
            left: 0;
            top: 0.8em;
        }

#message{
    padding: 0.1em;
    font-size: 1.6em;
    font-family: 'Hi Melody', cursive;
    color: lightcoral;
    line-height: 1em;
    margin-top: 0.3em;
}

.inner_form{
    height: 7.5em;
    overflow: hidden;
}

fieldset{
    border: none;
    padding: 0;
    margin: 0;
}
fieldset:disabled{
    pointer-events: none; 
}

#form{
    display: block;
}  
    option[value=""][disabled] {
        display: none;
    }
    #form select, input{
        font-size: 1em;
        /* box-shadow: inset 0 1px 3px #ddd; */
        border-radius: 4px;
        vertical-align: middle;
        box-sizing: border-box;
        height: 2.25em;
        border: 1px solid #ccc;
        background-color: #eff0eb;
        color: darkgray;
        width: 99%;
    }
    #form input{
        text-indent: 0.5em;
    }
    #form ::placeholder {
        color: darkgray;
        opacity: 1; /* Firefox */
    }
    #form select:hover, input:hover{
        border: 1px solid rgb(146, 146, 146);
    }
    #form select:focus, input:focus{
        outline: 0;
        border-color: palevioletred;
    }

    #form > *{
        margin: 0.15em;
        font-family: 'Nunito', sans-serif;
    }

    #form > *:disabled{
        background-color: #aaaaaa4f;
    }

    #form .edited{
        color: #848484;
    }
    
    #but_first{
        text-align: left;
        text-indent: 0.3em;
        color: darkgray;
        line-height: 0.9em;
        font-size: 0.95em;
        margin-top: 1.5em;
    }

    .toHide{
        opacity: 0;
        display: none;
    }

.tippy-tooltip.light-theme {
    word-wrap: break-word;
    padding: 1em;
    color: gray;
    background-color: whitesmoke;
    text-shadow: 0;
}
.tippy-popper[x-placement^=bottom] .tippy-tooltip.light-theme .tippy-arrow  {
    border-bottom-color: whitesmoke;
}

#purrBorder {
    border-radius: 50%;
    padding: 0.3em;
    position: relative;
    top: -0.5em;
    background: linear-gradient(124deg, #fa7c91, #e81d1d, #e8931d, #e8c71d, #afe81d, #1ddde8, #1d69e8, #dd00f3, #dd00f3);
    background-size: 1100% 500%;
    animation: rainbow 15s ease infinite, bounce 1s ease 2;
    box-shadow: 0px 3px 11px 1px #00000054;
    transform-origin: center bottom;
}
  
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

/* Animations */


@keyframes bounce {
    from,
    20%,
    53%,
    80%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    40%,
    43% {
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      transform: translate3d(0, -30px, 0);
    }
  
    70% {
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      transform: translate3d(0, -15px, 0);
    }
  
    90% {
      transform: translate3d(0, -4px, 0);
    }
  }
  
  .bounce {
    animation-name: bounce;
    transform-origin: center bottom;
  }