html{font-size: 100%;}

noscript{    
    width: 100%;
    color: whitesmoke;
    text-align: center;
    display: block;
}

body{
    margin: 0;
    padding: 0;
    background-color: #231f20;
    width: 100%;
    height: 100%;
    font-family: 'Fira Sans', sans-serif;
}

#root{
    width: 100%;
}

#app{
    text-align: center;
    border-radius: 10px;
    background-color: whitesmoke;
    min-height: 10em;
    min-width: 10em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1em;
    box-shadow: 0px 6px #151515;
    max-width: 20em;
}

#app:after {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(213, 213, 213, 0);
	border-bottom-color: whitesmoke;
	border-width: 0.8em;
	margin-left: -0.8em;
}

#menu{
    margin-left: 0.2em;
    color: gray;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0.2em;
    text-shadow: 0 1px #00000091;
}

    #menu .menu_item{
        padding: 0.3em 0.4em;
        display: inline-block;
        cursor: pointer;
    }

    #menu .menu_item:hover{
        color:lightgray;
    }

#greetings{
    color: dimgray;
    font-size: 1.5em;
    font-family: 'Oleo Script',cursive;
}

#subButton{
    text-align: center;
    position: absolute;
    bottom: 0.5em;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    border-radius: 0.4em;
    height: 3em;
    line-height: 3em;
    color: white;
    cursor: pointer;
    font-weight: bold;
    text-shadow: 0px 1px #00000057;
    transition: background-color 0.5s ease;
}
    .subButton{
        background-color: #ff6347;
    }
    .subButton:hover{
        background-color: #fa4c2d;
    }
    .unsubButton{
        background-color: gray;
    }
    .unsubButton:hover{
        background-color: darkgray;
    }

#purr_container{
    top: -5.5em;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

    #purr_container #count{
        top: -0.3em;
        position: absolute;
        width: 1.8em;
        height: 1.8em;
        background-color: crimson;
        text-align: center;
        line-height: 1.8em;
        border-radius: 50%;
        font-weight: bold;
        color: wheat;
        right: 0;
    }

#purr{
    border-radius: 50%;
    overflow: hidden;
    height: 5em;
    width: 5em;
    box-shadow: 0px 0px 0 3px white;
}
    #purr img{
        width: 12em;
        /* object-fit: none; */
        /* object-position: center; */
        height: 10em;
        position: relative;
        left: -3.5em;
        top: -2.4em;
    }

#message{
    padding: 0.1em;
    font-size: 1.6em;
    font-family: 'Hi Melody', cursive;
    color: coral;
    line-height: 1em;
    margin-top: 0.3em;
}