html, body {
    /* overflow: hidden; */
    font-size: 27px;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Fira Sans', sans-serif;
}

@media screen and (min-width: 0px) and (max-width: 1210px) {
    .topBar_center { display: none; }
}
@media screen and (min-width: 1211px) and (max-width: 1920px) {
    .topBar_center { display: inline-block; }
}

#root{
    padding-top: 5rem;
    padding-bottom: 3rem;
    /* height: 100%; */
    width: 100%;
    /* background-color: rgba(200,0,0,0.4); */
}

.topBar{
    font-size: 18px;

    width: 100%;
    height: 4em;
    position: fixed;
    top: -2.6rem;
    left: 0;
    margin-bottom: 1em;
    border-bottom: 1px solid lightgray;
    box-shadow: 0 0 9px 1px #0000002b;
    background-color: whitesmoke;
}
    .topBar_left{
        font-weight: bold;
        top: 50%;
        position: absolute;
        transform: translateY(-50%);
        left: 1.1em;
        color: dodgerblue;
        font-size: 2em;
        cursor: pointer;
    }
        .topBar_left:hover {
            text-decoration: underline dashed;
        }
        .topBar_left svg {
            transform: translate(-15px, 6px);
            width: 0.5em;
        }
        .topBar_left svg > g > g{
            stroke: #1e90ff;
        }
    .topBar_center{
        top: 50%;
        white-space: nowrap;
        text-overflow: clip;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -60%);
    }
    .topBar_right{
        font-weight: bold;
        top: 50%;
        position: absolute;
        transform: translateY(-50%);
        right: 1em;
        color: dodgerblue;
        font-size: 1.5em;
    }
    
.message{
    /* background-color: rgba(0,0,0,0.2); */
    /* margin-top: 1rem; */
    padding: 2rem;
    position: relative;
}
    .message_left{
        text-align: left;        
    }
    .message_right{
        text-align: right; 
    }
    .name{
        font-size: 1.2rem;
        margin: 0 3rem;
        font-weight: bold;
    }

.bubble{
    font-size: 1.1rem;
    text-align: left;
    margin: 0 2.3rem;
    /* margin: 0.1rem 2rem; */
    display: inline-block;
    max-width: 26rem;
    padding: 0.8rem 1rem;;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;

    transition: all 0.2s linear;
}
    .bubble_parent{
        /* margin-bottom: 0.1rem; */
        position: relative;
    }
    .bubble_message{
        display: none;
        opacity: 0;
    }
        .sub_message{
            position: absolute;
            font-size: 0.4rem;
            right: 1.1rem;
            bottom: 0.2rem;
            color: #e90000;
            display: none;
        }
    .bubble_image, .bubble_album_picture{
        position: absolute;
        height: 100%;
        object-fit: cover;
        width: 100%;
        top: 0;
        left: 0;  
        opacity: 0;      
    }
    .bubble_album {
        background-color: lightgrey;
        position: absolute;
        height: 100%;
        display: inline-block;
        width: 100%;
        top: 0;
        left: 0;
    }
        .bubble_album > img{
            opacity: 0;
        }
        .bubble_counter{
            background-color: rgba(0,0,0,0.4);
            height: 100%;
            display: inline-block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            font-size: 7rem;
            opacity: 0;
            animation: 0.5s fade_in 0.5s linear;
            animation-fill-mode: forwards;
            width: 100%;
            text-align: center;
            line-height: 18rem;
        }
    .bubble_float_left{
        animation: float 1.5s ease-in-out infinite;
        border-bottom-left-radius: 0; 
    }
    .bubble_float_right{
        animation: float 1.5s ease-in-out infinite;
        border-bottom-right-radius: 0; 
    }
    .bubble_rotate_left{
        transform-origin: bottom left;
        animation: rotate_left 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        animation-fill-mode: forwards;
        border-bottom-left-radius: 0; 
    }
    .bubble_rotate_right{
        transform-origin: bottom right;
        animation: rotate_right 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        animation-fill-mode: forwards;
        border-bottom-right-radius: 0; 
    }
    .bubble_left{
        /* background-color: lightskyblue;         */
        background-color: dodgerblue;
        color: white;
    }
    .bubble_right{
        background-color: lightgrey;        
    }
    .bubble_sticker{
        height: 8rem;
        width: 8rem;
        background-color: white;
    }
    .bubble_photo{
        height: 14rem;
        width: 14rem;
    }
    .bubble_album_size{
        height: 14rem;
        width: 14rem;
    }

.avatar{
    height: 3rem;
    width: 3rem;
    background-color: darksalmon;
    border-radius: 2rem;
    box-shadow: 0 0 0 2.5px lightgrey;
    opacity: 0;
    transform: scale(0);
    display: none;
}
    .avatar_image{
        border-radius: 2em;
        top: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        position: absolute;
        left: 0;
    }
    .avatar_animate{
        animation: pop 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        animation-fill-mode: forwards;
    }
    .avatar_name{
        white-space: nowrap;
        text-overflow: ellipsis;
        letter-spacing: 0.02em;
        color: dimgray;
        bottom: 0;
        position: absolute;
        font-size: 0.5em;
        display: inline-block;
        width: 5.8em;
        text-align: center;
        left: 50%;
        transform: translate(-50%, 145%);
        overflow: hidden;
    }
    .avatar_left{
        position: absolute;
        /* bottom: 0rem; */
        bottom: 0.8rem;
        left: 1rem;
        display: block;        
    }
    .avatar_inline{
        height: 1.8em;
        width: 1.8em;
        margin: 0.7em;
        display: inline-block;
    }
    .avatar_right{
        position: absolute;
        /* bottom: 0rem; */
        bottom: 0.8rem;
        right: 1rem;
        display: block;        
    }
    .avatar_status{
        height: 0.8em;
        width: 0.8em;
        border-radius: 1em;
        position: absolute;
        bottom: 0;
        right: -0.1em;
        box-shadow: 0 0 0 1.5px lightgrey;
    }
    .avatar_status_online{
        background-color: rgb(66, 183, 42);
    }
    .avatar_status_offline{
        background-color: gray;
    }

.loading_dots{
    /* background-color: red; */
    height: 1rem;
}
    .dot{
        border-radius: 0.5rem;
        margin: 0.1rem;
        float: left;
        width: 0.5rem;
        height: 0.5rem;
        background-color: black;
        opacity: 1;
    }

.text{
    font-size: 1rem;
    text-align: center;
    margin: 0.5rem;
    opacity: 0;
}
    .text_main{
        color: rgb(35, 53, 53);
        font-weight: bold;
    }
    .text_sub{
        font-size: 0.9rem;
        color: rgb(60, 95, 95);
    }

#dimmer{
    background-color: rgba(0,0,0,0.85);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
}

#slide{
    background-color: black;
    height: 55%;
    width: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    overflow: hidden;
    border-radius: 0.2rem;
    /* transform: scale(0.5,0.5); */
}
    #slide > img{
        /*position: absolute;
        top: 50%;
        left: 50%;*/
        opacity: 0;
        height: 100%;
        object-fit: cover;
        width: 100%;
    }

#cover{
    cursor: pointer;
    position: fixed;
    height: 100%;
    width: 100%;
    background: white;
    background: radial-gradient(ellipse at center, #ffffff 26%,#dbdbdb 100%);
    top: 0;
    left: 0;
}

#thanks{
    cursor: not-allowed;
    position: fixed;
    height: 100%;
    width: 100%;
    background: white;
    background: radial-gradient(ellipse at center, #ffffff 26%,#dbdbdb 100%);
    top: 0;
    left: 0;
    text-align: center;
    opacity: 0;
    display: none;
}
    #thanks span{
        transform: translate(-50%, -50%);
        position: absolute;
        top: 50%;
        left: 50%;
        font-weight: bold;
        font-size: 2rem;
    }
    #thanks span div{
        width: 30rem;
    }
#qoute{
    font-size: 1.4rem;
    left: 50%;
    display: inline-block;
    padding: 1rem;
    top: 50%;
    text-align: center;
    position: absolute;
    text-indent: 1rem;
    transform: translate(-50%, -65%);
    color: dimgray;
}
    #qoute .msg{
        font-style: italic;
        font-weight: bold;    
    }
    #qoute img{
        width: 1.5rem;
    }
    #qoute .qoute_right{
        position: absolute;
        top: 2.5rem;
        right: 0;
    }
    #qoute .qoute_left{
        position: absolute;
        top: 1.5rem;
        left: 0;
    }

    #qoute .by{
        position: absolute;
        right: 2rem;
        bottom: -2rem;
        font-size: 1.1rem;
    }
#subtitle{
    font-size: 1.2rem;
    position: fixed;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0,0,0,0.8);
    padding: 0.5rem;
    color: lightgray;
    display: none;
    text-align: center;
}

#confetti{
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}


/* Animations */
@keyframes float {
    0% {
        transform: translatey(0px) scale(1);
    }
    50% {
        transform: translatey(-10px) scale(1.1);
    }
    100% {
        transform: translatey(0px) scale(1);
    }
}

@keyframes pop {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fade_in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes rotate_left {
    0% {
        opacity: 0;
        transform: rotate(90deg) scale(0.5) translatey(2px);
    }
    100% {
        opacity: 1;
        transform: rotate(0deg) scale(1) translatey(0px);
    }
}

@keyframes rotate_right {
    0% {
        opacity: 0;
        transform: rotate(-90deg) scale(0.5);
    }
    100% {
        opacity: 1;
        transform: rotate(0deg) scale(1);
    }
}

/* Ken burns for pictures */